.easybank__article {
  background: $veryLightGray;

  &-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &-title {
    h2 {
      color: $darkBlue;
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }
  }

  //   Card
  &-card {
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 0 4px rgb(211, 205, 205);
    }

    span {
      font-size: 0.8rem;
      color: $grayishBlue;
    }

    h5 {
      color: $darkBlue;
      font-size: 1.3rem;
      margin-top: 0.6rem;
      margin-bottom: 1rem;
      transition: all 0.3s ease;
    }

    p {
      color: $grayishBlue;
      font-size: 1rem;
      padding-bottom: 1rem;
    }
  }
}

// on Hover
.easybank__article-card:hover h5 {
  color: $limeGreen;
}
