// flex
@mixin flex($justifyContent, $alignItems, $direction) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
}

// Responsive Screens
@mixin belowIpad {
  @media screen and (max-width: 767px) {
    @content;
  }
}
